body {
  background: #161B29;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.zhengti {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  height: 100%;
}
.lod {
  height: 300px;
  padding-bottom: 30px;
  list-style: none;
  padding: 0;
  overflow: hidden;
  color: #E645D0;
}
.lod li {
  margin: 0;
  padding: 0;
  width: 100px;
  height: 100px;
  float: left;
  border: 16.5px solid #3b3947;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  position: relative;
  text-align: center;
}
.loading {
  width: 800px;
  height: 300px;
  overflow: hidden;
  padding: 20px 0;
  margin: 0 auto;
}
.container {
  width: 190px;
  height: 170px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.common {
  height: 70px;
  max-height: 100%;
  overflow: auto;
  width: 2vw;
  margin: auto;
  max-width: 100%;
  position: absolute;
  /* background-color: ; */
  border-radius: 0vw 10vw 0vw 10vw;
  box-shadow: inset 0vw 0vw 0vw 0.1vw #E645D0, 0vw 0vw 1.5vw 0vw #E645D0;
}
.one {
  transform: rotate(45deg);
  left: 0;
  right: 0;
  top: 0;
  bottom: 7.5vw;
}
.two {
  transform: rotate(90deg);
  left: 5.5vw;
  right: 0;
  top: 0;
  bottom: 5.5vw;
}
.three {
  transform: rotate(135deg);
  left: 7.5vw;
  right: 0;
  top: 0;
  bottom: 0;
}
.four {
  transform: rotate(180deg);
  left: 5.5vw;
  right: 0;
  top: 5.5vw;
  bottom: 0;
}
.five {
  transform: rotate(225deg);
  left: 0;
  right: 0;
  top: 7.5vw;
  bottom: 0;
}
.six {
  transform: rotate(270deg);
  left: 0;
  right: 5.5vw;
  top: 5.5vw;
  bottom: 0;
}
.seven {
  transform: rotate(315deg);
  left: 0;
  right: 7.5vw;
  top: 0;
  bottom: 0;
}
.eight {
  transform: rotate(360deg);
  left: 0;
  right: 5.5vw;
  top: 0;
  bottom: 5.5vw;
}
.progress {
  width: 12vw;
  height: 0.5vw;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  background: #17E1E6;
}
.one {
  animation: one 1s ease infinite;
  -moz-animation: one 1s ease infinite;
  /* Firefox */
  -webkit-animation: one 1s ease infinite;
  /* Safari and Chrome */
  -o-animation: one 1s ease infinite;
  /* Opera */
}
@keyframes one {
  50% {
    background: ;
    box-shadow: inset 0vw 0vw 0vw 0.1vw #17E1E6, 0vw 0vw 1.5vw 0vw #17E1E6;
  }
}
.two {
  animation: two 1s 0.125s ease infinite;
  -moz-animation: two 1s 0.125s ease infinite;
  /* Firefox */
  -webkit-animation: two 1s 0.125s ease infinite;
  /* Safari and Chrome */
  -o-animation: two 1s 0.125s ease infinite;
  /* Opera */
}
@keyframes two {
  50% {
    background: ;
    box-shadow: inset 0vw 0vw 0vw 0.1vw #17E1E6, 0vw 0vw 1.5vw 0vw #17E1E6;
  }
}
.three {
  animation: three 1s 0.25s ease infinite;
  -moz-animation: three 1s 0.25s ease infinite;
  /* Firefox */
  -webkit-animation: three 1s 0.25s ease infinite;
  /* Safari and Chrome */
  -o-animation: three 1s 0.25s ease infinite;
  /* Opera */
}
@keyframes three {
  50% {
    background: ;
    box-shadow: inset 0vw 0vw 0vw 0.1vw #17E1E6, 0vw 0vw 1.5vw 0vw #17E1E6;
  }
}
.four {
  animation: four 1s 0.375s ease infinite;
  -moz-animation: four 1s 0.375s ease infinite;
  /* Firefox */
  -webkit-animation: four 1s 0.375s ease infinite;
  /* Safari and Chrome */
  -o-animation: four 1s 0.375s ease infinite;
  /* Opera */
}
@keyframes four {
  50% {
    background: ;
    box-shadow: inset 0vw 0vw 0vw 0.1vw #17E1E6, 0vw 0vw 1.5vw 0vw #17E1E6;
  }
}
.five {
  animation: five 1s 0.5s ease infinite;
  -moz-animation: five 1s 0.5s ease infinite;
  /* Firefox */
  -webkit-animation: five 1s 0.5s ease infinite;
  /* Safari and Chrome */
  -o-animation: five 1s 0.5s ease infinite;
  /* Opera */
}
@keyframes five {
  50% {
    background: ;
    box-shadow: inset 0vw 0vw 0vw 0.1vw #17E1E6, 0vw 0vw 1.5vw 0vw #17E1E6;
  }
}
.six {
  animation: six 1s 0.625s ease infinite;
  -moz-animation: six 1s 0.625s ease infinite;
  /* Firefox */
  -webkit-animation: six 1s 0.625s ease infinite;
  /* Safari and Chrome */
  -o-animation: six 1s 0.625s ease infinite;
  /* Opera */
}
@keyframes six {
  50% {
    background: ;
    box-shadow: inset 0vw 0vw 0vw 0.1vw #17E1E6, 0vw 0vw 1.5vw 0vw #17E1E6;
  }
}
.seven {
  animation: seven 1s 0.75s ease infinite;
  -moz-animation: seven 1s 0.75s ease infinite;
  /* Firefox */
  -webkit-animation: seven 1s 0.75s ease infinite;
  /* Safari and Chrome */
  -o-animation: seven 1s 0.75s ease infinite;
  /* Opera */
}
@keyframes seven {
  50% {
    background: ;
    box-shadow: inset 0vw 0vw 0vw 0.1vw #17E1E6, 0vw 0vw 1.5vw 0vw #17E1E6;
  }
}
.eight {
  animation: eight 1s 0.875s ease infinite;
  -moz-animation: eight 1s 0.875s ease infinite;
  /* Firefox */
  -webkit-animation: eight 1s 0.875s ease infinite;
  /* Safari and Chrome */
  -o-animation: eight 1s 0.875s ease infinite;
  /* Opera */
}
@keyframes eight {
  50% {
    background: ;
    box-shadow: inset 0vw 0vw 0vw 0.1vw #17E1E6, 0vw 0vw 1.5vw 0vw #17E1E6;
  }
}
.container {
  animation: container 5s linear infinite;
  -moz-animation: container 5s linear infinite;
  /* Firefox */
  -webkit-animation: container 5s linear infinite;
  /* Safari and Chrome */
  -o-animation: container 5s linear infinite;
  /* Opera */
}
@keyframes container {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.progress {
  animation: progress 15s ease;
  -moz-animation: progress 15s ease;
  /* Firefox */
  -webkit-animation: progress 15s ease;
  /* Safari and Chrome */
  -o-animation: progress 15s ease;
  /* Opera */
}
@keyframes progress {
  0% {
    left: -24vw;
  }
  10% {
    left: -20vw;
  }
  30% {
    left: -16vw;
  }
  50% {
    left: -12vw;
  }
  65% {
    left: -10vw;
  }
  80% {
    left: -4vw;
  }
  100% {
    left: 0;
  }
}
.fade-in {
  animation: fade-in 2s ease;
  -moz-animation: fade-in 2s ease;
  /* Firefox */
  -webkit-animation: fade-in 2s ease;
  /* Safari and Chrome */
  -o-animation: fade-in 2s ease;
  /* Opera */
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.out {
  animation: out 2s 15s ease;
  -moz-animation: out 2s 15s ease;
  /* Firefox */
  -webkit-animation: out 2s 15s ease;
  /* Safari and Chrome */
  -o-animation: out 2s 15s ease;
  /* Opera */
}
@keyframes out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/** loading 1 */
section {
  width: 100%;
  height: 100%;
}
.loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-top: 40px;
}
.loader-star {
  position: absolute;
  top: calc(50% - 12px);
}
.line {
  width: 8px;
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  background: gradient(linear, left top, left bottom, from(#1ee95d), to(#5714ce));
  background: linear-gradient(top, #1ee95d, #5714ce);
  background: linear-gradient(to bottom, #1ee95d, #5714ce);
}
.line1 {
  left: 0;
  animation: line-grow 0.5s ease alternate infinite;
}
.line2 {
  left: 20px;
  animation: line-grow 0.5s 0.2s ease alternate infinite;
}
.line3 {
  left: 40px;
  animation: line-grow 0.5s 0.4s ease alternate infinite;
}
@keyframes line-grow {
  0% {
    height: 0;
  }
  100% {
    height: 75%;
  }
}
/** loding 2 */
.css-square {
  position: absolute;
  top: 50%;
  width: 25px;
  height: 7px;
  background: #c7b3e5;
  box-shadow: 2px 2px 3px 0px black;
}
.active {
  margin: 20px 0px;
  padding: 0px 17px;
}
.square1 {
  left: 70px;
  animation: dominos 1s 0.125s ease infinite;
}
.square2 {
  left: 60px;
  animation: dominos 1s 0.3s ease infinite;
}
.square3 {
  left: 50px;
  animation: dominos 1s 0.425s ease infinite;
}
.square4 {
  left: 40px;
  animation: dominos 1s 0.54s ease infinite;
}
.square5 {
  left: 30px;
  animation: dominos 1s 0.665s ease infinite;
}
.square6 {
  left: 20px;
  animation: dominos 1s 0.79s ease infinite;
}
.square7 {
  left: 10px;
  animation: dominos 1s 0.9s ease infinite;
}
.square8 {
  left: 0px;
  animation: dominos 1s 1s ease infinite;
}
@keyframes dominos {
  50% {
    opacity: 0.7;
  }
  75% {
    transform: rotate(90deg);
  }
  80% {
    opacity: 1;
  }
}
/** loading 3 */
.container {
  text-align: center;
}
.loader-outter {
  position: absolute;
  border: 4px solid lime;
  border-left-color: transparent;
  border-bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: loader-1-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}
.loader-inner {
  position: absolute;
  border: 4px solid gold;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  border-right: 0;
  border-top-color: transparent;
  animation: loader-1-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}
@keyframes loader-1-inner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes loader-1-outter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/** loading 4 */
.dd {
  position: relative;
  width: 100%;
  height: 100%;
}
.dd .box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.35);
}
.dd .box div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(231, 76, 60, 0.75);
}
.dd .box :nth-child(1) {
  top: -50%;
  left: -50%;
  animation: box 2.25s linear infinite forwards;
}
.dd .box :nth-child(2) {
  top: -50%;
  right: -50%;
  animation: box 2.25s linear infinite forwards;
}
.dd .box :nth-child(3) {
  bottom: -50%;
  left: -50%;
  animation: box 2.25s linear infinite forwards;
}
.dd .box :nth-child(4) {
  bottom: -50%;
  right: -50%;
  animation: box 2.25s linear infinite forwards;
}
@keyframes box {
  0% {
    transform: rotate(0deg);
    background: rgba(231, 76, 60, 0.75);
  }
  25% {
    background: rgba(230, 126, 34, 0.75);
  }
  50% {
    border-radius: 50%;
    background: rgba(142, 68, 173, 0.75);
  }
  100% {
    transform: rotate(360deg);
    background: rgba(231, 76, 60, 0.75);
  }
}
/** loading7 */
.qiuqiu {
  width: 540px;
  float: right;
  overflow: hidden;
  padding: 5% 0;
  box-shadow: inset 0px -5px 10px -7px rgba(0, 0, 0, 0.5), inset 0px 5px 10px -7px rgba(0, 0, 0, 0.5);
}
.qiuqiu div {
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  float: left;
  border-radius: 100%;
  font-size: 1.65em;
  margin: 5px;
  text-align: center;
  background: lightcoral;
  color: white;
  animation: yidong 1.75s infinite ease-in-out;
}
.qiuqiu :nth-child(1) {
  background: #DB2F00;
  animation-delay: 0ms;
}
.qiuqiu :nth-child(2) {
  background: #ff6d37;
  animation-delay: 50ms;
}
.qiuqiu :nth-child(3) {
  background: #ffa489;
  animation-delay: 100ms;
}
.qiuqiu :nth-child(4) {
  background: #f2f2f2;
  animation-delay: 150ms;
  color: #555;
}
.qiuqiu :nth-child(5) {
  background: #99d3d4;
  animation-delay: 200ms;
}
.qiuqiu :nth-child(6) {
  background: #56bebf;
  animation-delay: 250ms;
}
.qiuqiu :nth-child(7) {
  background: #13A3A5;
  animation-delay: 300ms;
}
@keyframes yidong {
  0% {
    transform: translateY(-150px);
  }
  20% {
    transform: translateY(30px);
  }
  30% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(150px);
  }
}
/** svg */
.svg {
  margin: 0 auto;
  position: relative;
  left: 0px;
  top: -90px;
  width: 150px;
  height: 150px;
}
.svgcontent {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  margin-bottom: 20px;
  transform-origin: 50% 60%;
  opacity: 0;
  animation: shandong 2000ms linear infinite;
}
.svgcontent .sanjiao {
  opacity: 0.5;
  overflow: hidden;
  margin-top: -20px;
}
.svgcontent .sanjiao .pola {
  stroke: hotpink;
  stroke-width: 5px;
}
.svgcontent .sanjiao .polb {
  stroke: aqua;
  stroke-width: 5px;
}
.svgcontent .sanjiao .polc {
  stroke: cornflowerblue;
  stroke-width: 5px;
}
.svgcontent .sanjiao .pold {
  stroke: yellow;
  stroke-width: 5px;
}
.svgcontent .sanjiao .pole {
  stroke-width: 5px;
  stroke: white;
}
@keyframes shandong {
  0% {
    opacity: 0;
    transform: scale(0.1) translateZ(0);
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1) translateZ(0);
  }
}
.pao {
  border-radius: 50%;
  margin: 12px;
  position: relative;
  height: 75px;
  width: 75px;
  overflow: hidden;
  background-color: #e0e0eb;
}
.pao span:nth-child(1) {
  position: absolute;
  height: 25px;
  width: 75px;
  background: #7389AE;
  left: 0;
  bottom: 0;
}
.pao span:nth-child(2) {
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: 8px;
  left: 33px;
  background: white;
  border: 1px solid #7389AE;
  border-radius: 50%;
  animation: paopao 2s linear 0.8s infinite;
  opacity: 0;
}
.pao span:nth-child(3) {
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: 8px;
  left: 22px;
  background: white;
  border: 1px solid #7389AE;
  border-radius: 50%;
  opacity: 0;
  animation: paopao 2s linear 1.6s infinite;
}
.pao span:nth-child(4) {
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: 10px;
  left: 33px;
  background: white;
  border: 1px solid #7389AE;
  border-radius: 50%;
  opacity: 0;
  animation: paopao 2s linear 2.4s infinite;
}
.pao span:nth-child(5) {
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: 1px;
  left: 32px;
  background: white;
  border: 1px solid #7389AE;
  border-radius: 50%;
  opacity: 0;
  animation: paopao 2s linear 3.2s infinite;
}
.pao span:nth-child(6) {
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: 3px;
  left: 36px;
  background: white;
  border: 1px solid #7389AE;
  border-radius: 50%;
  opacity: 0;
  animation: paopao 2s linear 4s infinite;
}
.pao span:nth-child(7) {
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: 9px;
  left: 37px;
  background: white;
  border: 1px solid #7389AE;
  border-radius: 50%;
  opacity: 0;
  animation: paopao 2s linear 4.8s infinite;
}
.pao span:nth-child(8) {
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: 8px;
  left: 27px;
  background: white;
  border: 1px solid #7389AE;
  border-radius: 50%;
  opacity: 0;
  animation: paopao 2s linear 5.6s infinite;
}
.pao span:nth-child(9) {
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: 3px;
  left: 22px;
  background: white;
  border: 1px solid #7389AE;
  border-radius: 50%;
  opacity: 0;
  animation: paopao 2s linear 6.4s infinite;
}
.pao span:nth-child(10) {
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: 2px;
  left: 32px;
  background: white;
  border: 1px solid #7389AE;
  border-radius: 50%;
  opacity: 0;
  animation: paopao 2s linear 7.2s infinite;
}
.pao span:nth-child(11) {
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: 6px;
  left: 25px;
  background: white;
  border: 1px solid #7389AE;
  border-radius: 50%;
  animation: paopao 2s linear 8s infinite;
  opacity: 0;
}
.pao span:nth-child(12) {
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: 6px;
  left: 35px;
  background: white;
  border: 1px solid #7389AE;
  border-radius: 50%;
  animation: paopao 2s linear 8.8s infinite;
  opacity: 0;
}
@keyframes paopao {
  10% {
    opacity: 1;
  }
  25% {
    transform: translate(30%, 0%);
  }
  50% {
    width: 15px;
    height: 15px;
    transform: translate(-70%, 0%);
  }
  75% {
    width: 20px;
    height: 20px;
  }
  100% {
    bottom: 60px;
  }
}
.zhuan {
  width: 100px;
  height: 100%;
  position: relative;
  border-radius: 50%;
  background: #1c1c1c;
}
.zhuan .z {
  width: 10%;
  height: 100%;
  position: absolute;
  left: 45%;
}
.zhuan :nth-child(2) {
  transform: rotateZ(22.5deg);
}
.zhuan :nth-child(3) {
  transform: rotateZ(45deg);
}
.zhuan :nth-child(4) {
  transform: rotateZ(67.5deg);
}
.zhuan :nth-child(5) {
  transform: rotateZ(90deg);
}
.zhuan :nth-child(6) {
  transform: rotateZ(112.5deg);
}
.zhuan :nth-child(7) {
  transform: rotateZ(135deg);
}
.zhuan :nth-child(8) {
  transform: rotateZ(157.5deg);
}
.zhuan span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: dodgerblue;
  border-radius: 50%;
  animation: zhuanqiu 1s ease-in-out infinite alternate;
}
@keyframes zhuanqiu {
  0% {
    transform: translate(0, 50%);
  }
  100% {
    transform: translate(0, 800%);
  }
}
/*# sourceMappingURL=./index.css.map */